<?xml version="1.0" encoding="utf-8"?>
<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
	xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	IgnorableNamespaces="uap mp uap3 desktop rescap">

	<Identity Name="B02DDE91-A1D1-48FB-9EBA-2259161BD7A4" Publisher="CN=CMake Test Cert"
		Version="1.5.2.12" />
	<mp:PhoneIdentity PhoneProductId="B02DDE91-A1D1-48FB-9EBA-2259161BD7A4"
		PhonePublisherId="00000000-0000-0000-0000-000000000000" />
	<Properties>
		<DisplayName>wiliwili uwp-unofficial</DisplayName>
		<PublisherDisplayName>unofficial</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>
	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0"
			MaxVersionTested="10.0.0.0" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	<Applications>
		<Application Id="App" Executable="wiliwili-uwp.exe" EntryPoint="wiliwili-uwp.App">
			<uap:VisualElements
              DisplayName="wiliwili uwp-unofficial"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="wiliwili for xbox (unofficial)"
              BackgroundColor="transparent">
              <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
              <uap:SplashScreen Image="Assets\SplashScreen.png" />
            </uap:VisualElements>
			<Extensions>
				<uap3:Extension Category="windows.appExecutionAlias">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="wiliwili-uwp.exe" />
					</uap3:AppExecutionAlias>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>
	<Capabilities>
		<Capability Name="internetClient" />
		<Capability Name="internetClientServer" />
		<Capability Name="privateNetworkClientServer" />
		<uap3:Capability Name="backgroundMediaPlayback" />
		<rescap:Capability Name="hevcPlayback" />
	</Capabilities>
</Package>
